/scrape_mountain_weather_data/misc
/scrape_mountain_weather_data/src/personal-gcp.json
/scrape_mountain_weather_data/data/postgres_data
.logs
.variables

/scrape_mountain_weather_data/src/forecast_data/scraped_forecasts_final.csv
/scrape_mountain_weather_data/src/forecast_data/scraped_forecasts_final_old.csv
/scrape_mountain_weather_data/src/forecast_data/scraped_forecasts_staging.csv
/scrape_mountain_weather_data/src/forecast_data/scraped_forecasts_staging_old.csv
/scrape_mountain_weather_data/src/forecast_data/forecasts_final.parquet